registry=https://registry.npmjs.org/
network-concurrency=6
fetch-retries=8
fetch-retry-mintimeout=2000
fetch-retry-maxtimeout=30000
only-built-dependencies[]=esbuild
only-built-dependencies[]=vue-demi